.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 2px solid #f2f2f2;
}

.flex-colomns {
  flex-direction: column;
}
.logo {
  width: 183px;
  height: 32px;
  background: url("../images/logo_place_header.svg") center no-repeat;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}
.header__title {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__title-text {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 2;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}
.header__subtitle-link {
  text-decoration: none;
  color: #2f80ed;
}
.header__subtitle_link::after {
  content: ' \2192';
}
.header__main_illustration {
  width: 765px;
  height: 608px;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}


.description {
  padding-top: 100px;
  border: 2px solid #f2f2f2;
}
.two-colomns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.two-colomns__brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}
.two-colomns__main-text {
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}
.two-colomns__paragraph {
  justify-content: space-between;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  margin-bottom: 30px;
}
.two-colomns__paragraph:nth-of-type(3){
  margin-bottom: 0;
}
.span-accent {
  font-weight: bold;
}


.digits {
  padding: 100px 0;
  border: 2px solid #f2f2f2;
}
.digits__title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}
.digits__subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.digits__table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}
.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
}


.feynman {
  position: relative;
  min-height: 890px;
  border: 2px solid #f2f2f2;
}

.feynman__title {
  text-align: center;
  width: 648px;
  margin: 0 auto 70px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}
.feynman__subtitle {
  text-align: center;
  margin: auto;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}
.feynman__link::after {
  content: ' \2192';
}
.feynman__illustration {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  background: url("../images/feynman.png") no-repeat center;
  z-index: -1;
}


.kaufman {
  margin: 0;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  overflow: hidden;
}
.kaufman__title {
  position: relative;
  width: 60%;
  margin: 90px auto 20px;
  text-align: center;
  z-index: 3;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.15;
}
.kaufman__subtitle {
  position: relative;
  width: 60%;
  margin: auto;
  text-align: center;
  z-index: 2;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.kaufman__table {
  margin: auto;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  z-index: 2;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}
.table__heading {
  font-size: 24px ;
  font-weight: bold ;
  line-height: 1.15;
}
.table__text {
  margin-top: 20px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
  width: 877px;
  height: 877px;
  background: url("../images/kaufman-triangle.svg") no-repeat center top;
}

.footer {
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: white;
}
.footer__columns{
  display: flex;
  width: 90%;
  margin: auto;
}
.column {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.footer_author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.content-copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
.column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

}
.column-links,.content-social-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
.content-social-text,.column-links_text {
 list-style-type: none;
}
.content-social-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}
.content-social-text {
  display: flex;
  align-items: center;
}
.column-links_text a,.content-social-text a{
text-decoration: none;
padding-left: 0;
margin-left: 0;
justify-content: flex-end;
color: white;
}
.please{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.column-heading, .content-social-title {
  text-align: center;
}
.please ul{
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
}
.social-icon {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: black;
  z-index: 2;
  font-size: 0px;
}
